body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home {
  margin: 20px;
}
.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo-title img {
  width: 80%;
}

.logo-title p {
  width: 80%;
  text-align: center;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.start a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start img {
  width: 40%;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.user-profile p {
  align-self: center;
}

.login-account {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.logo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.logo-home a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-home img {
  width: 15%;
}
span.MuiButton-label-2 {
  justify-content: flex-start;
}

.svg-inline--fa {
  font-size: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

/* ---- Burger Menu ---- */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 345px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #000000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

:focus {
  outline: none;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

/*  Cities   */

.allCities {
  align-items: center;
  margin: 15px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 62vh;
}
.oneCity {
  padding: 10px;
  font-size: 22px;
}
.inputSearch {
  display: flex;
  justify-content: center;
  padding: 15px;
}
input {
  border: 2px solid #00000066;
  border-radius: 5px;
  width: 50%;
  height: 25px;
}

/*  Itinerary Details component   */

.itinerariesList {
  padding: 20px;
}
h3.itinerariesList-title {
  text-align: center;
}

.profile .card-image {
  width: 80px;
  border-radius: 40px;
}
.profile-container {
  margin-top: 20px;
}
.city-name {
  text-align: center;
}
.profile-content {
  display: flex;
  justify-content: space-around;
  border-top-style: outset;
  border-top-color: #ebebeb;
  border-radius: 20px;
  padding: 20px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itinerary-info {
  width: 55%;
}
.profileTitle h3 {
  margin: 0;
}
.profile-details {
  display: flex;
  justify-content: space-between;
}
.hashtags p {
  margin: 0px;
}
button {
  width: 100%;
  margin: 20px 0px;
  height: 30px;
  background-color: #ececec;
  border-radius: 8px;
}
